<legend>Listing products</legend>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product, :class => "btn" %>
        <%= link_to 'Edit', edit_product_path(product), :class => "btn" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Product', new_product_path, :class => "btn btn-primary" %>
